body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255 0.033);
    align-items: center;
    align-content: center ;
    justify-content: center;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', ;
}


.container{
    justify-content: center;
    justify-items: center;
    background-color: rgb(201, 248, 162);
    padding: 10px;
    
}


img {
    width: 80%;
    height: 21%;
    margin-top: 10px;
}

p{
    font-weight: 300;
    font-size: 22px;
    background: #f7e4e6;


}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width:600px ;
    margin: 2vw 4vw;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

form input, form select {
    border: 0;
    margin: 8px 0 ;
    padding: 10PX;
    outline: none;
    background-color: #f5f5f5;
    font-size: 14px;
}

button {
    padding: 10px;
    background: #ff5361;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 10px auto 0;
    border-radius: 25px;
}
button:hover {
    padding:15px ;
}