body{
    margin: 0;
    padding: 0;
    font-family: "verdana", Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
   
}
.container{
    text-align: center;
    width: 90%;
    height: 800px;
    background-color: rgb(53, 45, 45);
    padding: 7px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.logo{
    border: 1px solid rgb(26, 228, 177);
    height: 21%;
    width: 81%;
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.text{
    font-size: 16px;
    width: 90%;
}
button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(5, 223, 16);
}
button:hover{
    background-color: rgb(12, 248, 157);
    font-weight: 700;
}
.thanks{
    font-size: 16px; 
    margin-top: 10%; 
}
footer{
    width: 100%;
    bottom: 0;
    background-color: rgb(39, 32, 32);
}
span{
    font-size: 21px;
}

