body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255 0.033);
    align-items: center;
    align-content: center ;
    justify-content: center;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', ;
}


.container{
    justify-content: center;
    justify-items: center;
    background-color: rgb(50, 148, 74);
    padding: 10px;
    width: 100%;
    height: 100vh;
    margin: auto;;
    
}


img {
    width: 90%;
    height: 21%;
    margin-top: 10px;
}

p{
    font-weight: 300;
    font-size: 18px;
    background: #f7e4e6;


}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 2vw 4vw;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.text,.salut {
    border: 0;
    margin: 8px 0 ;
    padding: 10PX;
    outline: none;
    font-size: 14px;
    width: 90%;
    margin: auto;
}

button {
    font-size: 17px;
    padding: 15px;
    background: #ff5361;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 10px auto 0;
    border-radius: 25px;
}
button:hover {
    padding:15px ;
    
}
